<template>
	<div class="slds-page-header">
		<div class="slds-page-header__row">
			<div class="slds-float_right">
				<p><img src={Header_ManageUsers}/>{label.Header_ManageUsers}
				   <img src={Header_MessageCenter}/></p>				
			</div>
		</div>
	</div>  
</template>